:root{
  --main-color: #2a2a72;
  --light-blue: #009ffd;
  --main-white :#f3f3f3;
  --main-dark : #232528;
  --main-yello : #ffa400;
}

body{
  font-family: 'Oswald', sans-serif!important;
  background-color: var(--main-white)!important;
  color: var(--maindark)!important;
}

.section-title{
  font-family: 'Permanent Marker', "cursive";
  letter-spacing: .3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--main-color);
}
.text-bright{
  color: var(--light-blue);
}
.btn-black{
background-color: transparent;
text-transform: capitalize;
font-size: .8rem !important;
color: var(--main-dark);
border-radius: 0!important;
border : .1rem solid var(--main-dark) !important;
transition: all .35s ease-in-out;
}

.btn-black:hover{
  background-color: var(--main-dark)!important;
  color: var(--main-white)!important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--main-yello);
}
.cart{
  overflow: hidden;
}